footer {
  background-color: #000;
  padding: 2rem;
  text-align: center;
  height: auto;

  .socials {
    display: flex;
    justify-content: center;

    .social {
      position: relative;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      overflow: hidden;
      margin-top: 2rem;

      &:not(:last-child){
        margin-right: 10px;
      }
    }
  }
}
