header {
  height: 5rem;
  background-color: var(--trans__black);
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}
